doctype html5
html
  head 
    title #{Spirit.title}
    meta(content=Spirit.description, name="description")
    link(rel='stylesheet', href='/spirit.dev.css')
    script(type='text/javascript', src='/spirit.dev.js')
    block head

  body
    block splash
      div.splash
        a(style="background-image:url("+ Spirit.image +")",href="/")

    block content

    block admin
      div.navbar.navbar-default.navbar-fixed-bottom(role='navigation')
        div.navbar-collapse.collapse.navbar-right
          ul.nav.navbar-nav.admin-bar
            li
              a.delete(type='submit') Delete
            li
              a.save(type='submit') Save

  block footer
  script(type='text/javascript', src='/admin.dev.js')
  link(rel="stylesheet", href="/admin.dev.css")
