doctype html5
html
  head 
    title todo page title
    link(rel='stylesheet', href='/spirit.dev.css')
    script(type='text/javascript', src='/spirit.dev.js')
    block head

  body
    block splash
      div.splash(style="background-image:url("+ Spirit.image +")")
    block content
    block admin

  block footer
  script(type='text/javascript', src='/admin.dev.js')
  link(rel="stylesheet", href="/admin.dev.css")
