extends main

block content
  div.container
    h1 #{title}
    each post in posts
      p 
        a(href='/post/'+post._id) #{post.title} 

block admin
  div.navbar.navbar-default.navbar-fixed-bottom(role='navigation')
    div.navbar-collapse.collapse.navbar-right
      ul.nav.navbar-nav.spirit-bar
        li
          a.new(href="/post",title="New post") New post
