extends ../main

block splash
  a.splash(href="/",style="background-image:url("+ ( post.image || Spirit.image ) +")")

block content
  div.container
    h1#title #{post.title}
    p.date #{post.date}
    p#body !{post.body}
